[Desktop Entry]
Version=1.0
Type=Application
Name=Browser Chooser
Comment=Choose browser and profile for opening links
Icon=browser-chooser
Exec=browser-chooser %u
Terminal=false
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupNotify=true
